################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/obj/Debug
**/bin/Debug
**/obj/Release
**/bin/Release

/.vs/WPFExpl/v16/.suo

/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/packages
/.vs/WPFExpl/v16/TestStore/0
